### Ignore all dot files ###
.*
*.log

### Scala ###
*.sc


### Play! ###
**/project/project
project/target
target
tmp
**/public/*
!**/public/partner-logos/


### Git ###
!.gitignore
*.orig
.git/


### IntelliJ ###
*.iml
**/*.iml
*.ipr
*.iws
.idea/
.idea_modules/
atlassian-ide-plugin.xml


### Eclipse ###
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
/bin
/lib/
out/

